body {
	font-family: 'Roboto', sans-serif;
	color: #333;  
}

img {
	max-width: 100%;
	height: auto;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $mainBlue;
}

html {
	font-size: 14px;
}
