$mainGrey: #9c9a94;
$mainBlue: #6d98a9;
$darkBlue: #173440;
$mainGreen: #65948c;
$darkGreen: #487a65;
$mainRed: #c96466;
$darkRed: #d94d44;
$otherRed: #c96466;
$mainOrange: #eb7f43;
$mainBrown: #cab897;
$mainPurple: #3f5063;
