$mainGrey: #9c9a94;
//$mainBlue: #6d98a9;
$darkBlue: #173440;
//$mainGreen: #65948c;
//$darkGreen: #487a65;
//$mainRed: #c96466;
//$darkRed: #d94d44;
//$mainPink: #c96466;
$mainOrange: #eb7f43;
$mainBrown: #cab897;
$mainPurple: #3f5063;
$mainBlue: rgba(109, 152, 169, 0.95);
$darkGreen: rgba(72, 122, 101, 1);
$mainRed: rgba(201, 100, 102, 0.90);
$mainPink: rgba(201, 100, 102, 1);
$mainGreen: #65948c;
//$middleBlue: rgba(23, 52, 64, 0.6);
$lightOrange: rgba(235, 127, 67, 0.87);
$darkRed: rgba(217, 77, 68, 0.9);
