.btn {
  //background-color: $mainBlue;
  border: 1px solid #FFF;
  color: #FFF;
  text-decoration: none;
  padding: .85rem 1.2rem;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.1rem;

  &:hover {
    background-color: #FFF;
    color: $darkBlue;
  }

  &--white {
    background-color: #FFF;
    color: $mainGrey;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 300ms;

    &:hover {
      box-shadow: 0px 27px 15px -15px rgba(0, 0, 0, 0.1);
      transform: translate(0px, -4px);
    }
  }

  &--large {
    padding: 1.1rem 1.9rem;

      @mixin atSmall {
          font-size: 1.25rem;
      }
  }

}
