.contacts {

  &-container {
    display: block;



    @mixin atMedium {
      display: flex;
    }

    p {
        font-weight: 300;
        line-height: 1.65;
        margin: 0 0 0 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }

    p:last-child {
      margin-bottom: 3.3rem;
    }

  }

  &__icon {
    float: left;
    width: 60px;
    margin-right: 40px;
    //border: 1px solid black;
    position: relative;
    top: -15px;

    @mixin atSmall {
      margin-right: 45px;
      top: -5px;
    }

    &--no-r-margin {
      //margin-right: 0;
    }
  }

}
