.headline {
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFF;
    margin-bottom: 1.3em;
    margin-top: 1.6em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  
    &--medium {
      font-size: 2.1rem;
    }

    @mixin atSmall {
        font-size: 3.3rem;
        font-weight: 500;
        margin-bottom: 2.7rem;
        margin-top: 2.7rem;
    }

    @mixin atMedium {
        font-size: 2.7rem;
    }

    @mixin atLarge {
        font-size: 3.3rem;
    }

    &--centered {
        text-align: center;
    }

    &--orange {
        color: $mainOrange;
    }
  
    &--main {
        font-size: 1.85rem;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        //letter-spacing: 0;
        font-weight: 500;
        line-height: 1.3em;
        margin-bottom: 0.5em;
      
        @mixin atSmall {
           font-size: 2.4rem;       
        }

        @mixin atMedium {
            font-size: 2.6rem;
        }

        @mixin atLarge {
            font-size: 3.3rem;
        }
    }

    &--small {
        font-size: 1.3rem;
        margin-bottom: 3.4rem;
        //border:1px solid black;
        position: relative;
        top: 14px;        
        @mixin atSmall {
            font-size: 1.6rem;
        }

    }

    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &--light {
        font-weight: 100;
    }

    &--b-margin-small {
        margin-bottom: .5em;
    }

    &--b-margin-large {
        margin-bottom: 1.6em;
    }

    &--no-t-margin {
        margin-top: 0;
    }
}

.headline--b-margin {
   margin-bottom: 3.5rem;
}
