.large-hero {
    //border-bottom: 10px solid $mainBlue;
	  position: relative;
    padding-top: 10.5rem;
    padding-bottom: 9rem;
    background-color: $mainGrey;
    background-image: url('../../../assets/images/pattern.png');
    //border: 1px solid red;

    &__image {
        display: block;
    }

    &__text-content {
      //border: 1px solid red;
      width: 100%;

      @mixin atLarge {
        width: 50%;
        //margin-right: 35px;
      }

    }



	&__title {
	  font-weight: 500;
		color: #FFF;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 0;
    //font-family: 'Roboto', sans-serif;
		//border: 1px solid red;
		margin: 0;

        @mixin atSmall {
          font-size: 2.9rem;
        }

        @mixin atLarge {
          font-size: 3.8rem;
        }

	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
	}

	&__description {
		color: #FFF;
		font-size: 1rem;
		font-weight: 400;
		//text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
    display: block;
    overflow: auto;
    //border: 1px solid red;
		//margin-left: auto;
		//margin-right: auto;

    p {
      margin: 40px 0;
    }

        @mixin atSmall {
            font-size: 1.3rem;
        }

        @mixin atMedium {
          font-size: 1.5rem;
        }

        @mixin atLarge {
          font-size: 1.5rem;
        }
	}

  &__picture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: visible; 
    //border: 1px solid blue;
    //width: 300px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.2);
  }

  &__picture img {
    width: 250px;
    margin-top: 40px;
    position: relative;
    left: -15px;
    //border: 1px solid blue;

    @mixin atSmall {
        width: 390px;
        //margin-top: 40px;


    }

    @mixin atMedium {
      margin-top: 0;
    }

  }

}
