.page-section {
     padding: 1.2rem 0;
     //background-image: url('../../../assets/images/pattern.png');
     /* adjusting path for docs folder */
     background-image: url('../images/pattern.png');    


    @mixin atMedium {
        padding: 3rem 0;
    }

    &--no-b-padding-until-large {
        padding-bottom: 0;

        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }

    &--blue {
        background-color: $darkBlue;
        color: #FFF;
    }

    &--mainRed {
        background-color: $mainRed;
        color: #FFF;
    }

    &--mainPink {
        background-color: $mainPink;
        color: #FFF;
        background-image: none;
    }

    &--mainPurple {
        background-color: $mainPurple;
        color: #FFF;
    }

    &--mainBlue {
        background-color: $mainBlue;
        color: #FFF;
    }

    &--darkRed {
        background-color: $darkRed;
        color: #FFF;
    }

    &--mainBrown {
        background-color: $mainBrown;
        color: #FFF;
    }

    &--mainGreen {
        background-color: $mainGreen;
        color: #FFF;
    }

    &--darkGreen {
        background-color: $darkGreen;
        color: #FFF;
    }

    &--lightOrange {
        background-color: $lightOrange;
        color: #FFF;
    }

    &--mainGrey {
        background-color: $mainGrey;
        color: #FFF;
    }

    &--half {
      width: 100%;

      @mixin atMedium {
        width: 50%;
      }
    }

    &--third {
      width: 100%;

      @mixin atLarge {
        width: 33.33%;
      }
    }
  
    &--center {
      position: relative;
      margin: 0 auto;
      
      @mixin atMedium {
        width: 70%;
        max-width: 650px;
      }   
      
      @mixin atLarge {
        width: 50%;
        max-width: 650px;
      }   
       
    }

    &--testimonials {
        background-color: #e0e6ef;

        @mixin atLarge {
            &.lazyloaded {
              background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
              background-size: cover;
            }
        }
    }
}
