.primary-nav {
    padding-top: 30px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }

    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        display: block;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 7px;
        margin-bottom: 10px;
        @mixin atSmall {
          display: inline-block;
          margin-bottom: 0;
          width:auto;
        }
        @mixin atMedium {
            padding-right: 17px;
            float: left;
            display: block;
        }

        @mixin atLarge {
          padding-right: 40px;
        }
    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 16px;
        }
        @mixin atLarge {
            padding-right: 40px;
        }
    }

    a {
        color: #FFF;
        text-decoration: none;
        //text-shadow: 0 2px rgba(0, 0, 0, 0.1);
        font-weight: 900;
        display: block;
        padding: 5px 8px;
        font-size: 0.9rem;
        background-color: rgba($mainBlue, .9);
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s ease-out;

        &.scrolled {
          color: #4e4e4e;

          &:hover {
            border-bottom: 2px solid #4e4e4e;
          }
        }

        &:hover {
          border-bottom: 2px solid #FFF;
        }

        @mixin atMedium {
            padding: 11px 0 10px 0;
            font-size: 1rem;
            background-color: transparent;

            &.is-current-link {
              //color: rgba(0, 0, 0, 0.77);
            }
        }

        @mixin atLarge {
          font-size: 1.1rem;
        }
    }
}
