.sale {

  &-container {
    display: block;
    
    @mixin atMedium {
      display: flex;
    }

    p {
        font-weight: 300;
        line-height: 1.81;
        margin: 0 0 0 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p:last-child {
      margin-bottom: 4.5rem;
      
      @mixin atSmall {
          margin-bottom: 3.3rem;
      }
    }

  }

  &__icon {
    float: left;
    width: 60px;
    margin-right: 37px;
    //border: 1px solid black;
    position: relative;
    top: -15px;

    @mixin atSmall {
      margin-right: 45px;
      top: -5px;
    }

    &--position {
      top: 37px;
      
      @mixin atSmall {
        top: 30px;
      }      
    }
  }

}