.site-footer {
    background-color: $mainBrown;
    color: #FFF;
    padding: 1rem 0;
    text-align: center;

    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 300;       
    }
}
