.site-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 40px 0 20px 0;
  transition: all 0.5s ease-out;  
  text-transform: uppercase;

  &--is-expanded {
      background-color: rgba(255, 255, 255, 0.95);
  }

  @mixin atMedium {
       background-color: transparent;
       position: fixed;

       &--light {
         background-color: rgba(255, 255, 255, 0.95);
         padding-top: 20px;
         box-shadow: 2px 0 4px #4e4e4e;
         //border-bottom: 1px solid rgba(78, 78, 78, 0.7);
         //color: #4e4e4e;
       }
  }

  &__btn-container {
       @mixin atMedium {
           float: right;
       }

  }

  &__logo {
      position: absolute;
      background-color: transparent;
      color: #FFF;
      text-transform: none;
      font-size: 1.7rem;
      font-weight: 400;
      padding: 31px 0;
      top: 0;
      left: 50%;
      transform-origin: 50% 0;
      transform: translateX(-50%) scale(.8);
      transition: padding 0.5s ease-out;
      //width: 80%;
      //border: 1px solid black;
    
      @mixin atLarge {
        font-size: 2.2rem; 
        padding: 31px 0;        
      }

      & img {
        width: 65px;
        position: relative;        
        margin: 0 auto;
        //border: 1px solid red;
        display: block;
        top: -6px;
        //transition: all 0.5s ease-out;
        
        @mixin atSmall {
          width: 35px;
          top: 6px;
          display: inline;
        }
        
        @mixin atMedium {
          width: 30px;
        }
        
        @mixin atLarge {
          width: 35px;
        }
      }

      & span {
        position: relative;
        top: -15px;
        font-size: 1.2rem;
      }

      @mixin atMedium {
          left: auto;
          transform: translateX(0);

          .site-header--light & {
            //transform: scale(.554);
            color: #4e4e4e;
            padding: 12px 0;
            
            @mixin atLarge {
              padding: 12px 0;
            }
          }
      }

  }

   &__logo__graphic {
      text-indent: -9999px;
  }

  &__menu-icon {
      width: 20px;
      height: 19px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;

      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          border-radius: 2px;
          transform-origin: 0 0;
          transition: transform 0.3s ease-out;
      }

      &__middle {
          position: absolute;
          top: 8px;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          border-radius: 2px;
          transition: all 0.3s ease-out;
          transform-origin: 0 50%;
      }

      &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 20px;
          height: 3px;
          background-color: #FFF;
          border-radius: 2px;
          transform-origin: 0 100%;
          transition: transform 0.3s ease-out;
      }

      @mixin atMedium {
          display: none;
      }
  }

  &__menu-icon--close-x {
      &::before {
          transform: rotate(45deg) scaleX(1.25);
      }

      .site-header__menu-icon__middle {
          opacity: 0;
          transform: scaleX(0);
      }

      &::after {
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }
  }

  &__menu-content {
      opacity: 0;
      transform: scale(1.2);
      transition: all 0.3s ease-out;
      position: relative;
      z-index: -10;
      padding-top: 90px;
      text-align: center;

      @mixin atMedium {
          opacity: 1;
          padding-top: 0;
          z-index: 1;
          transform: scale(1);
      }

      &--is-visible {
          opacity: 1;
          z-index: 1;
          transform: scale(1);
      }
  }
}
