.testimonials {

  &-container {
    display: block;
    //border: 3px solid pink;


    @mixin atLarge {
      display: flex;
    }

    p {
        font-weight: 300;
        line-height: 1.65;
        margin: 0 0 40px 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }

    p:last-child {
      margin-bottom: 3.3rem;
    }

  }

  &__icon {
    float: left;
    width: 70px;
    margin-right: 40px;
    //border: 1px solid black;
    position: relative;
    top: -15px;

    @mixin atSmall {
      margin-right: 55px;
      top: -10px;
    }

    &--no-r-margin {
      //margin-right: 0;
    }
  }

}
